body {

    background-color: #000000;
}

#btn_name {
    background-color: white;
    border-radius: 20px;
    width: 200px;
    height: 50px;
    font-size: larger;
    position: fixed;
    right: 50%;
    top: 0;
}

#btn_name:hover {
    background-color: chartreuse;
}

.namep {
    color: white !important;
    font-size: x-large;
}

#name_o {
    position: fixed !important;
    right: 0;
    top: 0;
}


.container {
    /* center all elements in container */
    width: 100%;
    height: 100vh;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    background-image: url("https://i.pinimg.com/originals/1b/97/a3/1b97a36e5fa49dd1fbe6db2ad2de1ae5.jpg");
    background-repeat: no-repeat;
    background-position: center;

}


.table_div {
    background-image: url(static/pjot.png);
    background-size: cover;
    opacity: 0.8;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    border: 1px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 75px;
    height: 75px;
    margin: 2px;
    font-size: large;
    background-color: #f2f2f295;
    border-radius: 10px;
    box-shadow: inset 0 0 10px #cecbcb;
}

.btn:hover {
    background-color: #ffffff55;
    color: #000000;
}

.side_manu {
    position: relative;
    border: #ffffff;
    width: 500px;
    height: 100px;
    margin: 5px;
    bottom: 0px;
    left: 0px;
}